.footer {
  background: transparent;
  .social-links {
    display: flex;
    a {
      font-size: 2rem;
      transform: scale(0.9);
      transition: transform 0.25s linear;
      &:hover {
        transform: scale(1);
      }
      &:not(:last-of-type) {
        padding-right: 1em;
      }
    }
  }
}

// #29bb89
