.hero {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    font-size: 4vmax;
    font-family: "Dosis", sans-serif;
    text-transform: capitalize;
  }
  h2:first-of-type {
    font-size: 4.1vmax;
    margin-top: 2rem;
  }
  img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    filter: grayscale(33);
    transition: filter 0.6s ease-in-out;
    cursor: pointer;
    border-radius: 50%;
    &:hover {
      filter: grayscale(0);
    }
  }
  .link-underline {
    &::after {
      bottom: 0.2em;
    }
  }
}

@media (max-width: 355px) {
  .hero {
    h2 {
      font-size: 3.5vmax;
      &:first-of-type {
        font-size: 3.5vmax;
        margin-top: 2rem;
      }
    }
  }
}
