.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    font-size: 2.5rem;
    font-family: "Dosis", sans-serif;
    text-transform: lowercase;
  }
  h2:first-of-type {
    margin-top: 1rem;
  }
  img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    filter: grayscale(33);
    transition: filter 0.6s ease-in-out;
    cursor: pointer;
    border-radius: 50%;
    &:hover {
      filter: grayscale(0);
    }
  }
  .link-underline {
    &::after {
      bottom: 0.2em;
    }
  }
}

@media (max-width: 423px) {
  .hero {
    h2 {
      font-size: 1.8rem;
    }
    img {
      width: 8rem;
      height: 8rem;
    }
  }
}
