.navbar {
  background-color: transparent !important;
  .logo {
    font-size: 2.5rem;
    font-family: Comfortaa;
    display: block;
  }
  .navbar-item {
    a {
      font-size: 1.8rem;
      font-family: Comfortaa;
      font-weight: bold;
    }
  }
}
