.navbar {
  background-color: transparent !important;
  font-family: "Dosis", sans-serif;
  .container {
    max-width: 60%;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 4rem auto;
  }
  .navbar-menu {
    justify-content: center;
  }
  .navbar-item {
    a {
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: lighter;
      &.resume {
        border-bottom: 0.5px solid #fe6192;
      }
    }
  }
}
@media (max-width: 1024px) {
  .navbar {
    .container {
      border: none;
      max-width: 100%;
      margin-top: 0;
    }
    .navbar-menu {
      justify-content: flex-end;
    }
  }
}
