.navbar {
  background-color: transparent !important;
  font-family: "Dosis", sans-serif;
  .container {
    max-width: 60%;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 4rem auto;
  }
  .navbar-menu {
    justify-content: center;
  }

  .navbar-item {
    a {
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: lighter;
    }
  }
}
