.projects {
  min-height: 90vh;
  .title {
    color: #443a8b;
    &::before {
      background: #443a8b;
    }
  }
  .link-underline::after {
    background: #443a8b;
  }

  .card {
    width: 100%;
    h3 {
      color: #fff;
    }
    h2 {
      color: #443a8b;
    }
    &-header {
      height: 70%;
      padding: 10.5em 6em !important;
      &--1 {
        background: linear-gradient(
          90deg,
          hsla(247, 41%, 39%, 1) 0%,
          hsla(247, 64%, 74%, 1) 100%
        );
      }
      &--2 {
        background: linear-gradient(
          270deg,
          hsla(247, 41%, 39%, 1) 0%,
          hsla(247, 64%, 74%, 1) 100%
        );
      }
      &--3 {
        background: linear-gradient(
          90deg,
          hsla(247, 41%, 39%, 1) 0%,
          hsla(247, 64%, 74%, 1) 100%
        );
      }
    }
  }
}
